<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar left-sidebar">
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main">
      <div id="content">
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 sidebar right-sidebar">
      <div id="right-panel">
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    Progressit.initialize();
    Progressit.currentUser = new Progressit.Models.User(<%= current_user.to_json.html_safe %>);
  });
</script>
