<form id="create-card" class="form-horizontal">
  <input type="hidden" name="card[list_id]" value="<%=list.id%>">
  <div class="form-group">
    <label class="control-label col-sm-2" for="card-title">Title</label>
    <div class="col-sm-10">
      <input name="card[title]" id="card-title" class="form-control" required="required">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="card-description">Description</label>
    <div class="col-sm-10">
      <textarea name="card[description]" id="card-description" class="form-control"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="card-due-date">Due</label>
    <div class="col-sm-3">
      <input type="date" name="card[due-date]" id="card-due-date" class="form-control" required="required">
    </div>
    <div class="col-sm-3">
      <input type="time" name="card[due-date-time]" id="card-due-date-time" class="form-control" required="required">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="card-estimated-time">Estimated Time</label>
    <div class="col-sm-2">
      <input name="card[estimated-time-hours]" id="card-estimated-time-hours" class="form-control" placeholder="Hours" required="required">
    </div>
    <div class="col-sm-2">
      <input name="card[estimated-time-minutes]" id="card-estimated-time-minutes" class="form-control" placeholder="Minutes">
    </div>
  </div>
  <div class="message">
  </div>
  <input type="submit" class="btn btn-primary" value="Add">
  <button class="btn btn-default cancel">Cancel</button>
</form>

