<ul class="nav nav-sidebar">
  <li class="summary"><a href=""><h4>Summary</h4></a></li>
  <li class="tasks"><a href=""><h4>My Tasks</h4></a></li>
</ul>

<h4>Projects</h4>

<ul class="nav nav-sidebar boards">
</ul>

<button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Project</button>

<div class="new-board">
</div>