<form id="create-board" class="">
  <div class="form-group">
    <input name="board[title]" id="board-title" class="form-control" placeholder="Title">
  </div>
  <input type="submit" class="btn btn-primary" value="Create">
  <button class="btn btn-default cancel">Cancel</button>
</form>