<form id="create-board-membership" class="">
  <div class="form-group">
    <input name="user[email]" id="member-email" class="form-control" placeholder="Email">
  </div>
  <input type="submit" class="btn btn-primary" value="Add">
  <button class="btn btn-default cancel">Cancel</button>
</form>