<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= list.escape('title') %></strong>
  </div>
  <ul class="list-group cards">
  </ul>
  <% if (list.get('owned') === true){ %>
    <div class="cards-new"><span class="glyphicon glyphicon-plus"></span></div>
  <% } %>
</div>